<ion-view title="All tasks" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="allTasks-button-bar4" class="button-bar">
      <a ui-sref="parentSScreen" id="allTasks-button21" class="button button-dark button-large button-block button-outline icon ion-home"></a>
      <a ui-sref="submittask" id="allTasks-button22" class="button button-dark  button-block button-outline icon ion-android-bicycle"></a>
      <a ui-sref="allTasks" id="allTasks-button23" class="button button-dark  button-block button-outline icon ion-ios-list"></a>
    </div>
    <h1 id="allTasks-heading5" style="color:#000000;text-align:center;">All tasks</h1>
    <form id="allTasks-form3" class="list">
      <ion-checkbox style=" font-weight: 600 ;color:#000000;" id="allTasks-checkbox4">Talking with dad - 45 mins</ion-checkbox>
      <ion-checkbox style=" font-weight: 600 ;color:#000000;" id="allTasks-checkbox5">Do homework - 60 mins</ion-checkbox>
      <ion-checkbox style=" font-weight: 600 ;color:#000000;" id="allTasks-checkbox6">Cleaning the house - 45 mins</ion-checkbox>
      <ion-checkbox style=" font-weight: 600 ;color:#000000;" id="allTasks-checkbox7">Reading books - 45 mins</ion-checkbox>
      <button id="allTasks-button24" style="font-weight:600;font-size:20px;" class="button button-positive  button-block">Delete</button>
    </form>
  </ion-content>
</ion-view>