<ion-view title="Submittask" hide-nav-bar="true" id="page4" style="background-color:#FCFCFC;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="submittask-button-bar3" class="button-bar">
      <a ui-sref="parentSScreen" id="submittask-button18" class="button button-dark button-large button-block button-outline icon ion-home"></a>
      <a ui-sref="submittask" id="submittask-button19" class="button button-dark  button-block button-outline icon ion-android-bicycle"></a>
      <a ui-sref="allTasks" id="submittask-button20" class="button button-dark  button-block button-outline icon ion-ios-list"></a>
    </div>
    <h1 id="submittask-heading4" style="color:#000000;text-align:center;">Submited tasks</h1>
    <form id="submittask-form2" class="list">
      <ion-radio id="submittask-radio1" style="font-weight: 600">Clean the house - 60 mins</ion-radio>
      <ion-radio id="submittask-radio2" style="font-weight: 600">Washing dishes - 45 mins</ion-radio>
      <ion-radio id="submittask-radio3" style="font-weight: 600">Do home work - 45 mins</ion-radio>
    </form>
    <button id="submittask-button8" style="font-weight:600;font-size:20px;" class="button button-positive  button-block">Approve</button>
  </ion-content>
</ion-view>